{% extends "contributors/base.html" %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block content %}

{% if forms.errors %}
<p>Your username and pasword didnt match</p>
{% endif %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {% crispy form %}

    {% buttons %}
        <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'contributors:index' %}" />
</form>
py
{% endblock content %}