
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load bootstrap3 %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>


    {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'users:logout' %}">log out</a> -
        <a href="{% url 'contributors:get_data' %}">Fill form</a>
    {% else %}
        <a href="{% url 'users:register' %}">register</a>
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %}

{% block header %}

{% endblock header %}
{% block content %}


{% endblock content %}
</body>
</html>